# Jekyll files
_site
.sass-cache
.jekyll-metadata
.jekyll-cache


# Private project files
_posts/
!_posts/1845-2-25-raven.md		#Testing file
_drafts/
scripts/
makefile

# Other
\.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
.bundle
vendor/
images/.comments
*.swp
*.un~
*.swo

# Python export files
__pycache__/

