---
layout: default
title: "Recently published"
tab: home
---

<div>
{% for post in paginator.posts %}
	{% if post.listed %}
		<div class="post-short">
			<a href="{{site.url}}{{site.baseurl}}{{post.url}}">
				<h2>{{post.title}}</h2>
			</a>
			<a href="{{site.url}}{{site.baseurl}}/content/#{{ post.author | replace: " ", "-" }}">
				<h3>{{post.author}}</h3>
			</a>
			<i>posted on {{ post.date | date: "%-d %b %Y" }}</i>
			<p>
				{% if post.excerpt %}
					<blockquote>
						{{ post.excerpt }}
					</blockquote>
					<a href="{{site.url}}{{site.baseurl}}{{post.url}}"><i>Read more...</i></a>
				{% else %}
					<blockquote>
						{{ post.content }}
					</blockquote>
				{% endif %}
			</p>
		</div>
	{% endif %}
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
	<div class="pagination">
  		<span class="page_number ">
			Page: <i>{{ paginator.page }}</i> of <i>{{ paginator.total_pages }}</i>
  		</span>
		<br/>
		{% if paginator.previous_page %}
    		<a href="{{ paginator.previous_page_path }}" class="previous"><b>Previous</b></a>
  		{% endif %}
  		{% if paginator.next_page %}
    		<a href="{{ paginator.next_page_path }}" class="next"><b>Next</b></a>
  		{% endif %}
	</div>
{% endif %}
