---
layout: default
title: "Recently published"
tab: home
---

<div>
{% for post in paginator.posts %}
	{% if post.listed %}
		<div id="post-short">
			<a href="{{site.url}}{{site.baseurl}}{{post.url}}">
				<h2>{{post.title}}</h2>
			</a>
			<a href="{{site.url}}{{site.baseurl}}/poems/#{{ post.author | replace: " ", "-" }}">
				<h3>{{post.author}}</h3>
			</a>
			<i>posted on {{ post.date | date: "%-d %b %Y" }}</i>
			<p>
				{% if post.excerpt %}
					<blockquote>
						{{ post.excerpt }}
					</blockquote>
					<a href="{{site.url}}{{site.baseurl}}{{post.url}}"><i>Read more...</i></a>
				{% else %}
					<blockquote>
						{{ post.content }}
					</blockquote>
				{% endif %}
			</p>
		</div>
	{% endif %}
{% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
