<div class="footer">
	<div class="hide-in-print">
  		<p>
    	<a href="{{site.url}}{{site.baseurl}}/contact/">Contact</a>  ·
    	<a href="{{site.url}}{{site.baseurl}}/impressum/en/">Impressum</a>  ·
    	<a href="{{site.url}}{{site.baseurl}}/donate/en/">Donate</a>  ·
		<a href="{{site.url}}{{site.baseurl}}/feed.xml">RSS&nbsp;feed</a>
  		</p>
	</div>
  <p>
    <a href="https://github.com/yagarea/lyricall/">Lyricall</a> created with <b style="color: #FF0000;">&lt;3</b> by <a href="https://blackblog.cz/">Jan&nbsp;Černý</a>
  </p>
</div>
