<head>
	<title>{{site.title}} | {{ page.title }}</title>
	<meta charset="utf-8">
	<meta name="description" content="{{site.description}}"/>
	<meta name="author" content="{{page.author}}"/>
	<meta name="copyright" content="Copyright 2021 {{site.owner}}. All rights reserved."/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="theme-color" content="#313131"/>
	<link href="{{ '/assets/css/style.css' | relative_url }}" type="text/css" rel="stylesheet"/>
	<link href="{{ '/assets/fontawesome/scss/solid.scss' | relative_url }}" type="text/css" rel="stylesheet"/>
	<link href="{{ '/assets/css/print.css' | relative_url }}" type="text/css" rel="stylesheet" media="print"/>
	<link href="{{ '/assets/katex/katex.min.css' | relative_url }}" type="text/css" rel="stylesheet"/>
	<link rel="canonical" href="{{site.url}}{{site.baseurl}}{{page.url}}"/>
	<link rel="apple-touch-icon" href="/apple-icon.png"/>
	{% if page.stats != false %}
		<script async defer data-domain="lyricall.cz" src="https://stats.lyricall.cz/js/index.js"></script>
	{% endif %}
	<script>0</script>
</head>
