<!-- this is for web scrapers like duckduckgo, google, etc -->
<meta name="robots" content="index, follow">

<!-- self explanatory -->
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords}}">
<meta name="author" content="Jan Černý">

<!-- og: stuff is facebook stuff, but still many scrapers look for it since it's basically a standard at this point. -->
<meta property="og:site_name" content="Site name" >
<meta name="twitter:domain" property="twitter:domain" content="landchat.net">
<meta name="og:title" property="og:title" content="Site title" >
<meta property="og:description" content="A beautiful place where reading meets college sports" >
<meta name="twitter:description" property="twitter:description" content="A beautiful place where reading meets college sports">
<meta property="og:image" content="https://direct-image-link/images/tw-fb-li-card.png" >

<!-- self explanatory -->
<meta property="og:url" content="{{ site.url }}" >
<meta property="og:type" content="website">
