
// light theme reference: https://colorhunt.co/palette/e0ece4f7f2e7d8d3cd797a7e
// dark theme reference:  https://colorhunt.co/palette/525252414141313131ec625f

@mixin dark-theme {
	--body-color: 			#313131;
	--text-color: 			#FFFFFF;
	--title-color: 			#FFFFFF;
	--subtitle-color: 		#808080;
	--logo-color: 			#FFFFFF;
 	--link-color: 			#FFFFFF;
 	--link-visited-color: 	#FFFFFF;
 	--quote-color: 			#FFFFFF;
	--code-background-color:#787878;
	--text-highlight-color: #D3D3D3;
 	--separator-color: 		#525252;
	--post-frame-color: 	#242526;

}

@mixin light-theme {
	--body-color: 			#EBEBEB;
	--text-color: 			#000000;
	--title-color: 			#000000;
	--subtitle-color: 		#808080;
	--logo-color: 			#000000;
 	--link-color: 			#000000;
 	--link-visited-color: 	#000000;
 	--quote-color: 			#000000;
	--code-background-color:#787878;
	--text-highlight-color: #D3D3D3;
 	--separator-color: 		#706A60;
	--post-frame-color:		#D3D3D3;
}

:root {
	@include light-theme;
}

@media (prefers-color-scheme: dark){
	:root{
		@include dark-theme;
	}
}

