---
---

@import "assets/css/color-scheme.scss"
@import "assets/css/highlight.sass"

/*Fonts-------------------------------------------------------------------------------*/

@font-face
  font-family: CutiveMono
  src: url("{{site.url}}{{site.baseurl}}/assets/fonts/CutiveMono-Regular.ttf") format("truetype")
  font-style: normal
  font-display: swap
  text-rendering: optimizeLegibility

@font-face
  font-family: BetterGrade
  src: url("{{site.url}}{{site.baseurl}}/assets/fonts/BetterGrade.ttf") format("truetype")
  font-style: normal
  font-display: swap
  text-rendering: optimizeLegibility

/*Elements----------------------------------------------------------------------------*/

html, body
  min-height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  scrollbar-color: var(--text-color) var(--body-color)
  scrollbar-width: thin

body
  margin-top: 0px
  padding: 0
  font-family: CutiveMono, courier
  font-size: 100%
  line-height: 170%
  background-color: var(--body-color)
  color: var(--text-color)

main
  width: 65%
  margin: 0 auto

a
  &:link, &:visited
    text-decoration: none
    color: var(--link-visited-color)

  &:hover
    text-decoration: underline

code
  background-color: var(--code-background-color)
  padding: 5px
  border-radius: 3px
  color: var(--code-plain-text-color)
  overflow-x: scroll

  a
    margin: 0 10px 0

blockquote
  background: var(--quote-color)
  border-left: 3px solid var(--text-color)
  padding: 1px 1.5em
  opacity: .9

blockquote p
  line-height: 130%

blockquote, figure
  margin: 1em 0

  a
    text-decoration: none
    margin-top: 30px
    margin-bottom: 30px
    color: var(--logo-color)

  img
    max-width: 50%

hr
  height: 0.3px
  color: var(--separator-color)
  background-color: var(--separator-color)

table
  width: 70%
  border-collapse: collapse
  margin: 15px auto

th, td
  padding: .5em 1em
  line-height: 105%

th
  font-size: 125%

tr
  border: 1px solid var(--separator-color)

tr:nth-child(odd) td //tr:hover
  background: reduce(8)

audio
  display: flex
  width: 100%
  margin: 1em auto

nav
  text-align: center
  margin: auto
  margin-top: 0px
  padding-top: 0px
  margin-bottom: 5px
  padding-bottom: 5px
  border-bottom: 3px solid var(--separator-color)

footer
  text-align: center
  margin: auto
  font-size: 0.8em
  margin-bottom: 10px
  padding-bottom: 10px
  border-top: 3px solid var(--separator-color)

/*Classes-----------------------------------------------------------------------------*/

.content-left
  text-align: left
  margin: auto
  padding: 20px 0

.content
  text-align: center
  margin: auto
  margin-top: 20px
  padding-top: 20px
  margin-bottom: 20px
  padding-bottom: 20px

.error-message
  text-align: center

.pagination
  width: 30%
  margin: auto
  text-align: center

.license-tag
  text-align: right 

.hfill
  display: flex
  justify-content: space-between
  list-style-type: none
  padding-bottom: 0px
  padding-left: 0px
  margin: 0px

  li
    max-width: 25em

.poem-list
  margin: auto
  max-width: 700px
  padding: 15px

  h2
    padding: 5px 0

.note
  line-height: 100%
  margin: 10px

.logo
  text-align: center
  line-height: 80%
  font-family: BetterGrade, courier
  font-size: 800%
  margin: 20px auto 20px auto
  text-decoration: none
  
  a
    text-decoration: none

.content-left a
  color: var(--link-color)

  &:link, &:visited
    text-decoration: underline
    color: var(--link-visited-color)

  &:hover
    text-decoration: none

.post-short, .post
  color: var(--text-color)
  background-color: var(--post-frame-color)
  padding: 5px 20px
  border-radius: 5px
  margin: auto
  max-width: 800px
  margin-bottom: 10px
  line-height: 150%
  position: relative
  padding-top: 12px

  i
    font-size: 0.9em
    color: var(--subtitle-color)

  img
    margin: 0 auto
    display: block
    float: none
  
  h1
    margin-bottom: 5px

  h2, h3,
    margin: 10px 5px


.post-short
  line-height: 130%
  padding: 20px
  
  a
    &:link, &:visited
      text-decoration: none
      color: var(--link-visited-color)

    &:hover
      text-decoration: underline

  i
    font-size: 0.8em

.excerpt-link
  &:hover
    text-decoration: none !important

.indent
  margin-left: 1em

.post h2
  margin-bottom: 0px

.poem
  p
    text-indent: -2em
    padding: 0 0 0 2em 
    margin: 0 0

  blockquote
    padding: 1em

.language-toggle
  position: absolute
  top: 0px
  right: 0px
  clear: both
  display: flex
  justify-content: center
  line-height: 70%
  vertical-align: middle
  text-align: center
  margin: auto

.language-toggle-item
  float: right
  padding: 5px
  border: 2px solid var(--text-color)

.language-toggle-selected-item
  float: right
  color: var(--post-frame-color)
  background-color: var(--text-color) 
  padding: 5px

.discussion
  color: var(--discussion-text-color)
  background-color: var(--post-frame-color)
  padding: 5px 20px
  border-radius: 5px
  margin: auto
  max-width: 800px
  margin-bottom: 10px

  h2
    font-size: 200%
    text-align: center
    width: 100%
    display: block
    padding: 5px

/*Media-------------------------------------------------------------------------------*/

@media screen and (max-width: 850px)
  .main
    width: auto
    margin: 0 auto
    padding: 10px

  .logo, .nav, .content-left, .footer
    display: block
    width: 100%

  .nav
    font-size: 2em
    padding-bottom: 0.5em

  h2
    font-size: 3em
    line-height: 110%
    margin-bottom: 10px

  h3
    font-size: 2em

@media screen and (max-width: 500px)
  .main
    width: auto
    margin: 0 auto
    padding: 10px

  .logo, .nav, .content-left, .footer
    display: block
    width: 100%

  .nav
    font-size: 1.1em
    padding-bottom: 0.5em

  h2
    font-size: 2em
    margin: 0 0 10px

  h3
    font-size: 1.2em

  p
    font-size: 90%

  blockquote
    margin: 0 10px 0
  
  .hide-on-mobile
    display: none !important

