<!DOCTYPE html>
<html lang="{{site.language}}">
{% include head.html %}
<body>
	<div id="main">
		{% include logo.html %}
		{% include nav.html %}
		<div id="content-left">
			<div id="post">
				<h1>{{ page.title }}</h1>
				<a href="{{site.url}}{{site.baseurl}}/poems/#{{ page.author | replace: " ", "-" }}">
					<h3>{{ page.author }}</h3>
				</a>
				<i>posted on {{ page.date | date: "%-d %b %Y" }}</i>
				<blockquote>
					{{ content }}
				</blockquote>
				<!--
				<div id="categories">
						<p><b>Author:</b>&nbsp;
							{% for category in page.author %}
								<a href="{{site.url}}{{site.baseurl}}/categories/{{category}}/">#{{category}}</a>&nbsp;
							{% endfor %}
						</p>
				</div>
				-->
				{% if page.note != null and page.note != "" %}
					{% include note.html %}
				{% endif %}
				{% if site.disqus_username and page.comments or site.comments %}
					<div id="disqus_thread"></div><!-- /#disqus_thread -->
					{% include disqus-comments.html %}
				{% endif %}
			</div>
		</div>
		{% include footer.html %}
	</div>
</body>
</html>
