<head>
    <title>{{site.title}} | Redirect</title>
    <meta http-equiv="refresh" content="0; url={{ page.redirect_to }}" />
    <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet"/>
    <meta content="{{site.description}}" name="description"></meta>
    <meta content="{{page.author}}" name="author"></meta>
    <meta content="Copyright 2017 {{site.owner}}. All rights reserved." name="copyright"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async defer data-domain="lyricall.cz" src="https://stats.lyricall.cz/js/index.js"></script>
    <script>0</script>
</head>
<body>
</body>
